Rproducer_new_customers/Connected Services/ServiceReference1/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sugarcrm.com/sugarcrm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.sugarcrm.com/sugarcrm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sugarcrm.com/sugarcrm">
      <xsd:import schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import schemaLocation="http://schemas.xmlsoap.org/wsdl/" namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="new_note_attachment">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="file" type="xsd:string" />
          <xsd:element name="related_module_id" type="xsd:string" />
          <xsd:element name="related_module_name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="new_return_note_attachment">
        <xsd:all>
          <xsd:element name="note_attachment" type="tns:new_note_attachment" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="user_auth">
        <xsd:all>
          <xsd:element name="user_name" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="field">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="group" type="xsd:string" />
          <xsd:element name="label" type="xsd:string" />
          <xsd:element name="required" type="xsd:int" />
          <xsd:element name="options" type="tns:name_value_list" />
          <xsd:element name="default_value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="field_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:field[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="link_field">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="relationship" type="xsd:string" />
          <xsd:element name="module" type="xsd:string" />
          <xsd:element name="bean_name" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_field_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_field[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="name_value">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="name_value_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:name_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="name_value_lists">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:name_value_list[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="select_fields">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="deleted_array">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:int[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="new_module_fields">
        <xsd:all>
          <xsd:element name="module_name" type="xsd:string" />
          <xsd:element name="table_name" type="xsd:string" />
          <xsd:element name="module_fields" type="tns:field_list" />
          <xsd:element name="link_fields" type="tns:link_field_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="entry_value">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="module_name" type="xsd:string" />
          <xsd:element name="name_value_list" type="tns:name_value_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="entry_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:entry_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="set_entries_detail_result">
        <xsd:all>
          <xsd:element name="name_value_lists" type="tns:name_value_lists" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_names_to_fields_array">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_name_to_fields_array[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="link_name_to_fields_array">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="tns:select_fields" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_value">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:name_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="link_array_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_value2[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="link_name_value">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="records" type="tns:link_array_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_name_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="link_lists">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_list2[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="get_entry_result_version2">
        <xsd:all>
          <xsd:element name="entry_list" type="tns:entry_list" />
          <xsd:element name="relationship_list" type="tns:link_lists" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="return_search_result">
        <xsd:all>
          <xsd:element name="entry_list" type="tns:search_link_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="get_entry_list_result_version2">
        <xsd:all>
          <xsd:element name="result_count" type="xsd:int" />
          <xsd:element name="total_count" type="xsd:int" />
          <xsd:element name="next_offset" type="xsd:int" />
          <xsd:element name="entry_list" type="tns:entry_list" />
          <xsd:element name="relationship_list" type="tns:link_lists" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="get_server_info_result">
        <xsd:all>
          <xsd:element name="flavor" type="xsd:string" />
          <xsd:element name="version" type="xsd:string" />
          <xsd:element name="gmt_time" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="new_set_entry_result">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="new_set_entries_result">
        <xsd:all>
          <xsd:element name="ids" type="tns:select_fields" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="new_set_relationhip_ids">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:select_fields[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="new_set_relationship_list_result">
        <xsd:all>
          <xsd:element name="created" type="xsd:int" />
          <xsd:element name="failed" type="xsd:int" />
          <xsd:element name="deleted" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="document_revision">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="document_name" type="xsd:string" />
          <xsd:element name="revision" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="file" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="new_return_document_revision">
        <xsd:all>
          <xsd:element name="document_revision" type="tns:document_revision" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="module_list">
        <xsd:all>
          <xsd:element name="modules" type="tns:module_list_array" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="get_entries_count_result">
        <xsd:all>
          <xsd:element name="result_count" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="md5_results">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="module_names">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="upcoming_activities_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:upcoming_activity_entry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="upcoming_activity_entry">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="module" type="xsd:string" />
          <xsd:element name="date_due" type="xsd:string" />
          <xsd:element name="summary" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="last_viewed_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:last_viewed_entry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="last_viewed_entry">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="item_id" type="xsd:string" />
          <xsd:element name="item_summary" type="xsd:string" />
          <xsd:element name="module_name" type="xsd:string" />
          <xsd:element name="monitor_id" type="xsd:string" />
          <xsd:element name="date_modified" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="module_list_array">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:module_list_entry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="module_list_entry">
        <xsd:all>
          <xsd:element name="module_key" type="xsd:string" />
          <xsd:element name="module_label" type="xsd:string" />
          <xsd:element name="favorite_enabled" type="xsd:boolean" />
          <xsd:element name="acls" type="tns:acl_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="acl_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:acl_list_entry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="acl_list_entry">
        <xsd:all>
          <xsd:element name="action" type="xsd:string" />
          <xsd:element name="access" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_list2">
        <xsd:all>
          <xsd:element name="link_list" type="tns:link_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="link_value2">
        <xsd:all>
          <xsd:element name="link_value" type="tns:link_value" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="report_field_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:field_list2[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="field_list2">
        <xsd:all>
          <xsd:element name="field_list" type="tns:field_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="report_entry_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:entry_list2[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="entry_list2">
        <xsd:all>
          <xsd:element name="entry_list" type="tns:entry_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="search_link_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:search_link_name_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="search_link_name_value">
        <xsd:all>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="records" type="tns:search_link_array_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="search_link_array_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:link_value[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="error_value">
        <xsd:all>
          <xsd:element name="number" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="modified_relationship_entry_list">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:modified_relationship_entry[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="modified_relationship_entry">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="module_name" type="xsd:string" />
          <xsd:element name="name_value_list" type="tns:name_value_list" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="modified_relationship_result">
        <xsd:all>
          <xsd:element name="result_count" type="xsd:int" />
          <xsd:element name="next_offset" type="xsd:int" />
          <xsd:element name="entry_list" type="tns:modified_relationship_entry_list" />
          <xsd:element name="error" type="tns:error_value" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="user_auth" type="tns:user_auth" />
    <wsdl:part name="application_name" type="xsd:string" />
    <wsdl:part name="name_value_list" type="tns:name_value_list" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="tns:entry_value" />
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="logoutResponse" />
  <wsdl:message name="get_entryRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="select_fields" type="tns:select_fields" />
    <wsdl:part name="link_name_to_fields_array" type="tns:link_names_to_fields_array" />
    <wsdl:part name="track_view" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="get_entryResponse">
    <wsdl:part name="return" type="tns:get_entry_result_version2" />
  </wsdl:message>
  <wsdl:message name="get_entriesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="ids" type="tns:select_fields" />
    <wsdl:part name="select_fields" type="tns:select_fields" />
    <wsdl:part name="link_name_to_fields_array" type="tns:link_names_to_fields_array" />
    <wsdl:part name="track_view" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="get_entriesResponse">
    <wsdl:part name="return" type="tns:get_entry_result_version2" />
  </wsdl:message>
  <wsdl:message name="get_entry_listRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="query" type="xsd:string" />
    <wsdl:part name="order_by" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="select_fields" type="tns:select_fields" />
    <wsdl:part name="link_name_to_fields_array" type="tns:link_names_to_fields_array" />
    <wsdl:part name="max_results" type="xsd:int" />
    <wsdl:part name="deleted" type="xsd:int" />
    <wsdl:part name="favorites" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="get_entry_listResponse">
    <wsdl:part name="return" type="tns:get_entry_list_result_version2" />
  </wsdl:message>
  <wsdl:message name="set_relationshipRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="module_id" type="xsd:string" />
    <wsdl:part name="link_field_name" type="xsd:string" />
    <wsdl:part name="related_ids" type="tns:select_fields" />
    <wsdl:part name="name_value_list" type="tns:name_value_list" />
    <wsdl:part name="delete" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="set_relationshipResponse">
    <wsdl:part name="return" type="tns:new_set_relationship_list_result" />
  </wsdl:message>
  <wsdl:message name="set_relationshipsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_names" type="tns:select_fields" />
    <wsdl:part name="module_ids" type="tns:select_fields" />
    <wsdl:part name="link_field_names" type="tns:select_fields" />
    <wsdl:part name="related_ids" type="tns:new_set_relationhip_ids" />
    <wsdl:part name="name_value_lists" type="tns:name_value_lists" />
    <wsdl:part name="delete_array" type="tns:deleted_array" />
  </wsdl:message>
  <wsdl:message name="set_relationshipsResponse">
    <wsdl:part name="return" type="tns:new_set_relationship_list_result" />
  </wsdl:message>
  <wsdl:message name="get_relationshipsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="module_id" type="xsd:string" />
    <wsdl:part name="link_field_name" type="xsd:string" />
    <wsdl:part name="related_module_query" type="xsd:string" />
    <wsdl:part name="related_fields" type="tns:select_fields" />
    <wsdl:part name="related_module_link_name_to_fields_array" type="tns:link_names_to_fields_array" />
    <wsdl:part name="deleted" type="xsd:int" />
    <wsdl:part name="order_by" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="limit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_relationshipsResponse">
    <wsdl:part name="return" type="tns:get_entry_result_version2" />
  </wsdl:message>
  <wsdl:message name="set_entryRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="name_value_list" type="tns:name_value_list" />
  </wsdl:message>
  <wsdl:message name="set_entryResponse">
    <wsdl:part name="return" type="tns:new_set_entry_result" />
  </wsdl:message>
  <wsdl:message name="set_entriesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="name_value_lists" type="tns:name_value_lists" />
  </wsdl:message>
  <wsdl:message name="set_entriesResponse">
    <wsdl:part name="return" type="tns:new_set_entries_result" />
  </wsdl:message>
  <wsdl:message name="get_server_infoRequest" />
  <wsdl:message name="get_server_infoResponse">
    <wsdl:part name="return" type="tns:get_server_info_result" />
  </wsdl:message>
  <wsdl:message name="get_user_idRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_user_idResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_module_fieldsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="fields" type="tns:select_fields" />
  </wsdl:message>
  <wsdl:message name="get_module_fieldsResponse">
    <wsdl:part name="return" type="tns:new_module_fields" />
  </wsdl:message>
  <wsdl:message name="seamless_loginRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="seamless_loginResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="set_note_attachmentRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="note" type="tns:new_note_attachment" />
  </wsdl:message>
  <wsdl:message name="set_note_attachmentResponse">
    <wsdl:part name="return" type="tns:new_set_entry_result" />
  </wsdl:message>
  <wsdl:message name="get_note_attachmentRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_note_attachmentResponse">
    <wsdl:part name="return" type="tns:new_return_note_attachment" />
  </wsdl:message>
  <wsdl:message name="set_document_revisionRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="note" type="tns:document_revision" />
  </wsdl:message>
  <wsdl:message name="set_document_revisionResponse">
    <wsdl:part name="return" type="tns:new_set_entry_result" />
  </wsdl:message>
  <wsdl:message name="get_document_revisionRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="i" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_document_revisionResponse">
    <wsdl:part name="return" type="tns:new_return_document_revision" />
  </wsdl:message>
  <wsdl:message name="search_by_moduleRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="search_string" type="xsd:string" />
    <wsdl:part name="modules" type="tns:select_fields" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="max_results" type="xsd:int" />
    <wsdl:part name="assigned_user_id" type="xsd:string" />
    <wsdl:part name="select_fields" type="tns:select_fields" />
    <wsdl:part name="unified_search_only" type="xsd:boolean" />
    <wsdl:part name="favorites" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="search_by_moduleResponse">
    <wsdl:part name="return" type="tns:return_search_result" />
  </wsdl:message>
  <wsdl:message name="get_available_modulesRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="filter" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_available_modulesResponse">
    <wsdl:part name="return" type="tns:module_list" />
  </wsdl:message>
  <wsdl:message name="get_user_team_idRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_user_team_idResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="set_campaign_mergeRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="targets" type="tns:select_fields" />
    <wsdl:part name="campaign_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="set_campaign_mergeResponse" />
  <wsdl:message name="get_entries_countRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="query" type="xsd:string" />
    <wsdl:part name="deleted" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_entries_countResponse">
    <wsdl:part name="return" type="tns:get_entries_count_result" />
  </wsdl:message>
  <wsdl:message name="get_module_fields_md5Request">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_names" type="tns:select_fields" />
  </wsdl:message>
  <wsdl:message name="get_module_fields_md5Response">
    <wsdl:part name="return" type="tns:md5_results" />
  </wsdl:message>
  <wsdl:message name="get_last_viewedRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_names" type="tns:module_names" />
  </wsdl:message>
  <wsdl:message name="get_last_viewedResponse">
    <wsdl:part name="return" type="tns:last_viewed_list" />
  </wsdl:message>
  <wsdl:message name="get_upcoming_activitiesRequest">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_upcoming_activitiesResponse">
    <wsdl:part name="return" type="tns:upcoming_activities_list" />
  </wsdl:message>
  <wsdl:message name="get_modified_relationshipsRequest">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="module_name" type="xsd:string" />
    <wsdl:part name="related_module" type="xsd:string" />
    <wsdl:part name="from_date" type="xsd:string" />
    <wsdl:part name="to_date" type="xsd:string" />
    <wsdl:part name="offset" type="xsd:int" />
    <wsdl:part name="max_results" type="xsd:int" />
    <wsdl:part name="deleted" type="xsd:int" />
    <wsdl:part name="module_user_id" type="xsd:string" />
    <wsdl:part name="select_fields" type="tns:select_fields" />
    <wsdl:part name="relationship_name" type="xsd:string" />
    <wsdl:part name="deletion_date" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_modified_relationshipsResponse">
    <wsdl:part name="return" type="tns:modified_relationship_result" />
  </wsdl:message>
  <wsdl:portType name="sugarsoapPortType">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutRequest" />
      <wsdl:output message="tns:logoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_entry">
      <wsdl:input message="tns:get_entryRequest" />
      <wsdl:output message="tns:get_entryResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_entries">
      <wsdl:input message="tns:get_entriesRequest" />
      <wsdl:output message="tns:get_entriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_entry_list">
      <wsdl:input message="tns:get_entry_listRequest" />
      <wsdl:output message="tns:get_entry_listResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_relationship">
      <wsdl:input message="tns:set_relationshipRequest" />
      <wsdl:output message="tns:set_relationshipResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_relationships">
      <wsdl:input message="tns:set_relationshipsRequest" />
      <wsdl:output message="tns:set_relationshipsResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_relationships">
      <wsdl:input message="tns:get_relationshipsRequest" />
      <wsdl:output message="tns:get_relationshipsResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_entry">
      <wsdl:input message="tns:set_entryRequest" />
      <wsdl:output message="tns:set_entryResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_entries">
      <wsdl:input message="tns:set_entriesRequest" />
      <wsdl:output message="tns:set_entriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_server_info">
      <wsdl:input message="tns:get_server_infoRequest" />
      <wsdl:output message="tns:get_server_infoResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_user_id">
      <wsdl:input message="tns:get_user_idRequest" />
      <wsdl:output message="tns:get_user_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_module_fields">
      <wsdl:input message="tns:get_module_fieldsRequest" />
      <wsdl:output message="tns:get_module_fieldsResponse" />
    </wsdl:operation>
    <wsdl:operation name="seamless_login">
      <wsdl:input message="tns:seamless_loginRequest" />
      <wsdl:output message="tns:seamless_loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_note_attachment">
      <wsdl:input message="tns:set_note_attachmentRequest" />
      <wsdl:output message="tns:set_note_attachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_note_attachment">
      <wsdl:input message="tns:get_note_attachmentRequest" />
      <wsdl:output message="tns:get_note_attachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_document_revision">
      <wsdl:input message="tns:set_document_revisionRequest" />
      <wsdl:output message="tns:set_document_revisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_document_revision">
      <wsdl:input message="tns:get_document_revisionRequest" />
      <wsdl:output message="tns:get_document_revisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="search_by_module">
      <wsdl:input message="tns:search_by_moduleRequest" />
      <wsdl:output message="tns:search_by_moduleResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_available_modules">
      <wsdl:input message="tns:get_available_modulesRequest" />
      <wsdl:output message="tns:get_available_modulesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_user_team_id">
      <wsdl:input message="tns:get_user_team_idRequest" />
      <wsdl:output message="tns:get_user_team_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="set_campaign_merge">
      <wsdl:input message="tns:set_campaign_mergeRequest" />
      <wsdl:output message="tns:set_campaign_mergeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_entries_count">
      <wsdl:input message="tns:get_entries_countRequest" />
      <wsdl:output message="tns:get_entries_countResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_module_fields_md5">
      <wsdl:input message="tns:get_module_fields_md5Request" />
      <wsdl:output message="tns:get_module_fields_md5Response" />
    </wsdl:operation>
    <wsdl:operation name="get_last_viewed">
      <wsdl:input message="tns:get_last_viewedRequest" />
      <wsdl:output message="tns:get_last_viewedResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_upcoming_activities">
      <wsdl:input message="tns:get_upcoming_activitiesRequest" />
      <wsdl:output message="tns:get_upcoming_activitiesResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_modified_relationships">
      <wsdl:input message="tns:get_modified_relationshipsRequest" />
      <wsdl:output message="tns:get_modified_relationshipsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sugarsoapBinding" type="tns:sugarsoapPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/logout" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_entry">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_entry" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_entries">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_entries" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_entry_list">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_entry_list" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_relationship">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_relationship" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_relationships">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_relationships" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_relationships">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_relationships" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_entry">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_entry" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_entries">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_entries" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_server_info">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_server_info" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_user_id">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_user_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_module_fields">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_module_fields" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seamless_login">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/seamless_login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_note_attachment">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_note_attachment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_note_attachment">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_note_attachment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_document_revision">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_document_revision" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_document_revision">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_document_revision" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_by_module">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/search_by_module" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_available_modules">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_available_modules" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_user_team_id">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_user_team_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_campaign_merge">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/set_campaign_merge" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_entries_count">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_entries_count" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_module_fields_md5">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_module_fields_md5" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_last_viewed">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_last_viewed" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_upcoming_activities">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_upcoming_activities" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_modified_relationships">
      <soap:operation soapAction="http://10.3.51.37/service/v4_1/soap.php/get_modified_relationships" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.sugarcrm.com/sugarcrm" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sugarsoap">
    <wsdl:port name="sugarsoapPort" binding="tns:sugarsoapBinding">
      <soap:address location="http://127.0.0.1//service/v4_1/soap.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>